<body>
  <section class='page-not-found'>
    <img src='/images/404/404-Error.svg' alt='' />
    <h1>Trang không tồn tại</h1>
    <p>
      Xin lỗi, trang không tồn tại. Nhấp vào
      <a href='http://localhost:8080'>đây</a>
      để quay lại trang chủ.</p>
  </section>
</body>