<body>
  <section >
    <div class="tag-error">
      <img src='/images/404/404-Error.svg' alt='' />
      <h1>Trang không tồn tại</h1>
      <p>
        Xin lỗi, trang không tồn tại. Nhấp vào<a href='/'>đây</a>để quay lại trang chủ.</p>
    </div>
  </section>
</body>