<div class='home-page'>
  <div class='content-container'>
    <div class='slideshow-container'>
      <div class='slide-image fade'>
        <div class='numbertext'>1 / 2</div>
        <img src='/img/home/slide_1.jpg' />
        <div class='caption-text'>Gọi là có</div>
      </div>
      <div class='slide-image fade'>
        <div class='numbertext'>2 / 2</div>
        <img src='/img/home/slide_2.jpg' />
        <div class='caption-text'>Giá cả rõ ràng</div>
      </div>
      <a class='prev'>&#10094;</a>
      <a class='next'>&#10095;</a>
    </div>
    <br />

    <div style='text-align:center'>
      <span class='dot'></span>
      <span class='dot'></span>
    </div>
  </div>
  <div class='car-group'>
    <div class='title'>Đội Taxi - Taxi Long Khánh giá rẻ</div>
    <div class='description'>Chúng tôi là đơn vị gọi xe hàng đầu tại Long Khánh - Cẩm Mỹ - Dầu Giây
      - Xuân Lộc, mang lại cho khách hàng 1 dịch vụ tuyệt vời nhất. Đội xe đông đảo đa dạng và hiện
      đại.
      <br />Đảm bảo cam kết xe đời mới.
    </div>
    <div class='image-container'>
      <div class='item-container'>
        <img src='img/home/taxi-4.png' alt='Taxi 4 chỗ' />
        <div class='caption'>Taxi 4 chỗ</div>
      </div>
      <div class='item-container'>
        <img src='img/home/taxi-7.png' alt='Taxi 7 chỗ' />
        <div class='caption'>Taxi 7 chỗ</div>
      </div>
      <div class='item-container'>
        <img src='img/home/taxi-du-lich.png' alt='Ô tô du lịch' />
        <div class='caption'>Ô tô du lịch</div>
      </div>
    </div>
  </div>
  <div class='about-us'>
    <div class='title'>Về chúng tôi</div>
    <div class='description'>Sứ mệnh của Taxi Vĩnh Long Giá Rẻ là giải quyết đột phá các vấn đề về
      giá cả, chất lượng dịch vụ và sự tiện ích cho khách hàng. Giúp khách hàng tiết kiệm phần lớn
      chi phí chuyến đi so với thông thường.” Chúng tôi cam kết phục vụ quý khách hàng với mức giá
      rẻ nhất có thể. Khách hàng book xe chỉ trong 5-10 phút có xe ngay. Xe đảm bảo an toàn, tiện
      lợi, tài xế chuẩn tác phong nghiệp vụ với nhiều năm kinh nghiệm trong nghề.</div>
  </div>

  <div class='advertisement'>
    <div>
      <span>Chúng tôi cam kết chất lượng dịch vụ của chúng tôi</span>
      <span>Bạn có bất kì yêu cầu nào? Hãy liên hệ với chúng tôi.</span>
    </div>
    <a href='tel:+84971842084' class='call'>Gọi ngay 0971842084</a>
  </div>
</div>