<div class='page-container'>
  <div class='title'>Thông tin liên hệ</div>
  <div class='details'>
    <div>Địa chỉ: 63 Thích Quảng Đức, Xuân An, Long Khánh, Đồng Nai</div>
    <div>Điện thoại: 0933463871</div>
    <div>Taxi Long Khánh - Taxi Dầu Giây - Taxi Cẩm Mỹ - Taxi Xuân Lộc</div>
  </div>
</div>