<article>
  <div class='page-container'>
  <div class='title'>Thông tin liên hệ</div>
  <div class='details-lh'>
    Địa chỉ: 8 Trần Phú, Xuân An, Long Khánh, Đồng Nai <br>
    Điện thoại: 0779.942.463 <br>
    Taxi Long Khánh - Taxi Dầu Giây - Taxi Cẩm Mỹ - Taxi Xuân Lộc <br>
  </div>
</article>
