<section>
  <div class='page-container'>
    <h2><div class='title'>Tin tức</div></h2>
    <div class='details'>
      {{#each news}}
        <div class='card'>
          <div class='image-container'>
            <a href='/tin-tuc'>
              <img class='card-img' src='/images/news/khu-du-lich-dai-nam.webp' alt='khu-du-lich-dai-nam.webp' />
            </a>
          </div>
          <div class='card-content'>
            <div class='news-title'>
              <a href='/tin-tuc/{{convertToSlug title}}'>{{title}}</a>
              <div class='description'>
                <div>05/03/2022</div>
                <div>Lượt xem: 76</div>
                <div>Khu du lịch Đại Nam - Điểm hẹn cuối tuần siêu lý tưởng</div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      {{! <div class='card'>
        <div class='image-container'>
          <a href='/tin-tuc'>
            <img class='card-img' src='/images/news/khu-du-lich-hoi-an.webp' alt='khu-du-lich-hoi-an.webp' />
          </a>
        </div>
        <div class='card-content'>
          <div class='news-title'>
            <a href='/tin-tuc'>Tour du lịch Hội An - Thành phố cổ đẹp hàng đầu châu Á</a>
            <div class='description'>
              <div>05/03/2022</div>
              <div>Lượt xem: 69</div>
              <div>Tour du lịch Hội An - Thành phố cổ đẹp hàng đầu châu Á</div>
            </div>
          </div>
        </div>
      </div>

      <div class='card'>
        <div class='image-container'>
          <a href='/tin-tuc'>
            <img
              class='card-img'
              src='/images/news/khu-du-lich-thanh-pho-da-lat.webp'
              alt='khu-du-lich-thanh-pho-da-lat.webp'
            />
          </a>
        </div>
        <div class='card-content'>
          <div class='news-title'>
            <a href='/tin-tuc'>Mùa xuân khám phá lễ hội hoa tại thành phố Đà Lạt</a>
            <div class='description'>
              <div>05/03/2022</div>
              <div>Lượt xem: 69</div>
              <div>Mùa xuân khám phá lễ hội hoa tại thành phố Đà Lạt</div>
            </div>
          </div>
        </div>
      </div>

      <div class='card'>
        <div class='image-container'>
          <a href='/tin-tuc'>
            <img class='card-img' src='/images/news/tram-thu-phi-phap-van.webp' alt='tram-thu-phi-phap-van.webp' />
          </a>
        </div>
        <div class='card-content'>
          <div class='news-title'>
            <a href='/tin-tuc'>Gần 100 xe khách đỗ kín trạm thu phí Pháp Vân</a>
            <div class='description'>
              <div>05/03/2022</div>
              <div>Lượt xem: 69</div>
              <div>Gần 100 xe khách đỗ kín trạm thu phí Pháp Vân</div>
            </div>
          </div>
        </div>
      </div>

      <div class='card'>
        <div class='image-container'>
          <a href='/tin-tuc'>
            <img class='card-img' src='/images/news/duong-day-nong-30-4.webp' alt='duong-day-nong-30-4.webp' />
          </a>
        </div>
        <div class='card-content'>
          <div class='news-title'>
            <a href='/tin-tuc'>Thủ tướng yêu cầu lập đường dây nóng về tàu xe dịp 30/4</a>
            <div class='description'>
              <div>05/03/2022</div>
              <div>Lượt xem: 69</div>
              <div>Thủ tướng yêu cầu lập đường dây nóng về tàu xe dịp 30/4Thủ tướng yêu cầu lập đường dây nóng về tàu xe
                dịp 30/4</div>
            </div>
          </div>
        </div>
      </div>

      <div class='card'>
        <div class='image-container'>
          <a href='/tin-tuc'>
            <img
              class='card-img'
              src='/images/news/7-dia-phuong-cho-xe-khach-chay-lien-tinh.webp'
              alt='7-dia-phuong-cho-xe-khach-chay-lien-tinh.webp'
            />
          </a>
        </div>
        <div class='card-content'>
          <div class='news-title'>
            <a href='/tin-tuc'>7 địa phương phía Nam cho xe khách liên tỉnh chạy</a>
            <div class='description'>
              <div>05/03/2022</div>
              <div>Lượt xem: 69</div>
              <div>7 địa phương phía Nam cho xe khách liên tỉnh chạy</div>
            </div>
          </div>
        </div>
      </div> }}
    </div>
  </div>
</section>