$primary-color: #7fc8f8;
$secondary-color: #f8af7f;
$navbar-height: 6rem;


html {
  font-size: 10px;
  body {
    font-size: 20px;
  }

  .navbar-wrapper {
    width: 100vw;
    background-color: $primary-color;
    height: $navbar-height;
    font-family: 'Source Sans Pro', sans-serif;

    .navbar {
      display: flex;
      height: auto;

      .nav-item {
        line-height: $navbar-height;
        padding-inline: 2rem;
        cursor: pointer;
        user-select: none;
        transition: all 0.125s linear;

        a {
          font-weight: bold;
          color: azure;
          text-decoration: none;
        }

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}
