<div class='info'>

  <div class='contact-info'>
    <span class='title'>
      TAXI LONG KHÁNH GIÁ RẺ
    </span>
    <span class='hotline'>
      Hotline: 0933463871
    </span>
    <span class='address'>
      Địa chỉ: 63 Thích Quảng Đức, Xuân An, Long Khánh, Đồng Nai
    </span>
    {{! <span class='mail'>
      Email: chitinh3035@gamil.com
    </span> }}
  </div>
</div>
<div class='footer'><span>Copyright ©2022</span></div>