<footer>
  <div class='info'>
    <div class='contact-info'>
      <span class='title'>
        Công ty MTV Đội Taxi Long Khánh
      </span>
      <span class='hotline'>
        Hotline: 0779.942.463
      </span>
      <span class='address'>
        Địa chỉ: 8 Trần Phú, Xuân An, Long Khánh, Đồng Nai
      </span>
      <span class='mail'>
        Email: doitaxil@doitaxilongkhanh.com
      </span>
    </div>
  </div>
  <div class='footer'><span>Copyright ©2023</span></div>
</footer>