<div class="navbar">
    <nav class="flex thumbnail">
        <a href="#" class="logo-link">
            <img
                    src="http://taxivinhlonggiare.com/upload/hinhanh/688.png"
                    alt=""
                    class="logo-image"
            />
        </a>
        <div class="navbar-contact">
            <a class="phone-link" href="tel:+84966340602">0966340602</a>
            <a class="phone-link" href="tel:+84966340602">0966340602</a>
        </div>
    </nav>
    <nav class="menu">
        <ul class="menu-navbar">
            <li class="menu-item">
                <a href="/" class="menu-link">Trang chủ</a>
            </li>
            <li class="menu-item">
                <a href="/gioi-thieu" class="menu-link">Giới thiệu</a>
            </li>
            <li class="menu-item">
                <a href="/dich-vu" class="menu-link">Dịch vụ</a>
            </li>
            <li class="menu-item">
                <a href="/tuyen-duong-pho-bien" class="menu-link">Tuyến đường phổ biến</a>
            </li>
            <li class="menu-item">
                <a href="/tin-tuc" class="menu-link">Tin tức</a>
            </li>
            <li class="menu-item">
                <a href="/lien-he" class="menu-link">Liên hệ</a>
            </li>
        </ul>
    </nav>
</div>