<div class="item-container">
    <div class="title">Dịch vụ</div>
    <div class="service-container">
        <div class="card">
            <div class="car-type">Xe 4 chỗ</div>
            <div class="car-detail">Xe 4 chỗ đời mới cao cấp</div>
            <a href="/dich-vu" class="more">Xem thêm</a>
            <div class="image-container">
                <img src="http://taxivinhlonggiare.com/thumb/150x150/2/upload/news/51288243/xe-4-cho.png" alt=""
                     class="card-img">
            </div>
        </div>
        <div class="card">
            <div class="car-type">Xe 5 chỗ</div>
            <div class="car-detail">Xe 5 chỗ đời mới cao cấp</div>
            <a href="/dich-vu" class="more">Xem thêm</a>
            <div class="image-container">
                <img src="http://taxivinhlonggiare.com/thumb/150x150/2/upload/news/51288243/xe-4-cho.png" alt=""
                     class="card-img">
            </div>
        </div>
        <div class="card">
            <div class="car-type">Xe 8 chỗ</div>
            <div class="car-detail">Xe 8 chỗ đời mới cao cấp</div>
            <a href="/dich-vu" class="more">Xem thêm</a>
            <div class="image-container">
                <img src="http://taxivinhlonggiare.com/thumb/150x150/2/upload/news/51288243/xe-4-cho.png" alt=""
                     class="card-img">
            </div>
        </div>
        <div class="card">
            <div class="car-type">Xe 16 chỗ</div>
            <div class="car-detail">Xe 16 chỗ đời mới cao cấp</div>
            <a href="/dich-vu" class="more">Xem thêm</a>
            <div class="image-container">
                <img src="http://taxivinhlonggiare.com/thumb/150x150/2/upload/news/51288243/xe-4-cho.png" alt=""
                     class="card-img">
            </div>
        </div>
    </div>
</div>