<div class='item-container'>
  <div class='title'>Dịch vụ</div>
  <div class='service-container'>
    {{#each services}}
      <div class='card'>
        <div class='image-container'>
          <img src='{{this.image}}' alt='' class='card-img' />
        </div>
        <div class='card-content'>
          <div class='car-type'>{{this.title}}</div>
          <div class='car-detail'>{{this.description}}</div>
          <a href='/dich-vu' class='more'>Xem thêm</a>
        </div>
      </div>
    {{/each}}

  </div>
</div>