<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Taxi Long Khánh giá rẻ</title>
    <link rel="stylesheet" href="/css/app.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MZQPBCF');</script>
    <!-- End Google Tag Manager -->
    <meta name="keyword" content="Taxi, Long Khánh, Xuân Lộc, Cẩm Mỹ">
    <meta name="description" content="Taxi 4 Và 7 Chỗ Đi Tỉnh, Sân Bay, Nhà Xe, Du Lịch Cùng Bạn Bè, Người Thân. Gọi 5 phút là có. Taxi Long Khánh, Xuân Lộc, Đồng Nai Chuyên Nghiệp, Giá Rẻ, Đưa Đón Tận Nơi Theo Yêu Cầu. Tài xế vui vẻ. Chăm sóc nhiệt tình. Phục vụ chu đáo.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="DC.language" content="vi">   
    <meta property="og:site_name" content="Taxi Long Khánh Giá Rẻ">
    <meta property="og:image" content="https://doitaxilongkhanh.com/images/home/slide_1.webp">
    <meta property="og:title" content="Taxi Long Khánh giá rẻ">
    <meta property="og:image" content="https://doitaxilongkhanh.com/images/home/slide_1.webp">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:description" content="Taxi Long Khánh giá rẻ, tiện lợi, chất lượng và uy tính hàng đầu tại Đồng Nai. Liên hệ ngay để đặt xe và trải nghiệm dịch vụ tốt nhất!">
    <meta property="og:type" content="website">
    
    <meta name="revisit-after" content="1 days">
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="text/html; charset=utf-8">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E1MKE34BK5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-E1MKE34BK5');
    </script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZQPBCF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header}}
    {{{body}}}
    {{> footer}}
    <section>
        <a href="tel:+84779942463" class="hotline-fixed">
            <img src="/icons/phone.svg"></div>
        </a>
        <script src="/js/index.js"></script>
    </section>
</body>
</html>
