<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Taxi Long Khánh giá rẻ</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    
    {{> header}}
    {{{body}}}
    {{> footer}}
    
    <a href="tel:+84933463871" class="hotline-fixed">
        <img src="icons/phone.svg"></div>
    </a>
    <script src="js/index.js"></script>
</body>
</html>