<!DOCTYPE html>
<html>
<head>
    <head>
    <meta charset="utf-8">
    <title>Taxi Long Khánh giá rẻ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="Taxi, Taxi Long Khánh, Taxi giá rẻ, taxi long khánh 4 chỗ, taxi long khánh 7 chổ, taxi giá rẻ long khánh, dịch vụ taxi long khánh đồng nai, đặt taxi long khánh, Thuê xe Long Khánh, Hãng taxi uy tính, đặt taxi đi tỉnh, Taxi Long Khánh chất lượng, gọi xe taxi long khánh, 0933463871">
    <meta name="description" content="Taxi Long Khánh giá rẻ, tiện lợi, chất lượng và uy tính hàng đầu tại Đồng Nai. Liên hệ ngay để đặt xe và trải nghiệm dịch vụ tốt nhất!">
    <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34=">
    <meta name="DC.language" scheme="utf-8" content="vi">   
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <meta property="og:site_name" content="Taxi Long Khánh Giá Rẻ">
    <meta property="og:title" content="Taxi Long Khánh giá rẻ">
    <meta property="og:image" content="https://doitaxilongkhanh.com/images/home/slide_1.jpg">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:description" content="Taxi Long Khánh giá rẻ, tiện lợi, chất lượng và uy tính hàng đầu tại Đồng Nai. Liên hệ ngay để đặt xe và trải nghiệm dịch vụ tốt nhất!">
    <meta property="og:type" content="website">
    
    <meta name="revisit-after" content="1 days">
    <meta http-equiv="content-language" content="vi">
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    
    {{> header}}
    {{{body}}}
    {{> footer}}
    
    <a href="tel:+84933463871" class="hotline-fixed">
        <img src="icons/phone.svg"></div>
    </a>
    <script src="js/index.js"></script>
</body>
</html>