<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Taxi Long Khánh giá rẻ</title>
    <link rel="stylesheet" href="css/app.css">
    <meta name="keyword" content="Taxi, Long Khánh, Xuân Lộc, Cẩm Mỹ">
    <meta name="description" content="Taxi 4 Và 7 Chỗ Đi Tỉnh, Sân Bay, Nhà Xe, Du Lịch Cùng Bạn Bè, Người Thân. Gọi 5 phút là có. Taxi Long Khánh, Xuân Lộc, Đồng Nai Chuyên Nghiệp, Giá Rẻ, Đưa Đón Tận Nơi Theo Yêu Cầu. Tài xế vui vẻ. Chăm sóc nhiệt tình. Phục vụ chu đáo.">
    <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Taxi 4 Và 7 Chỗ Đi Tỉnh, Sân Bay, Nhà Xe, Du Lịch Cùng Bạn Bè, Người Thân. Gọi 5 phút là có. Taxi Long Khánh, Xuân Lộc, Đồng Nai Chuyên Nghiệp, Giá Rẻ, Đưa Đón Tận Nơi Theo Yêu Cầu. Tài xế vui vẻ. Chăm sóc nhiệt tình. Phục vụ chu đáo.">
    <link rel="canonical" href="https://stgtaxxilg.herokuapp.com/">
    <meta property="og:image" content="https://stgtaxxilg.herokuapp.com/images/home/slide_1.jpg">
    <meta name="DC.language" scheme="utf-8" content="vi">   
    <meta name="robots" content="noodp,index,follow">
    <meta property="og:site_name" content="Taxi Long Khánh Giá Rẻ">
    <meta name="revisit-after" content="1 days">
    <meta http-equiv="content-language" content="vi">
    <meta property="og:title" content="Taxi Long Khánh giá rẻ">
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>╬
</head>
<body>
    
    {{> header}}
    {{{body}}}
    {{> footer}}
    
    <a href="tel:+84933463871" class="hotline-fixed">
        <img src="icons/phone.svg"></div>
    </a>
    <script src="js/index.js"></script>
</body>
</html>